# Please indent options with one tab when editing defaults in
# https://github.com/stripe-internal/marionette-puppet-config/blob/master/modules/git/templates/gitconfig.erb
# That matches how "git config --global" edits the file.

[user]
	name = Scott Liao
	email = dogboxx@gmail.com

# "push.default = simple" is the default in git 2.0, but OS X still ships git
# 1.9.3 ("push.default = matching") as of 10.10.2, so... we explicitly specify
# the modern default to try and keep things sane if you accidentally use the
# OS-provided git instead of the modern one from our package manager. When a
# majority of Macs here are running OS X that ships git >= 2.0, we can likely
# remove this.
[push]
	default = current


# http://stackoverflow.com/questions/18257622/why-is-git-core-preloadindex-default-value-false
[core]
	preloadindex = true
	editor = emacs -nw
	excludesfile = /Users/scott/.gitignore
	pager = less -F -X

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  cp = cherry-pick
  rb = rebase
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lore = log origin..
[pull]
	rebase = true
[init]
	defaultBranch = main
